Invoice Processing Workflow.json
{
  "name": "Invoice Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LwXwUHJn160fRVfGkOCVMhHbqX3PKo_s",
          "mode": "list",
          "cachedResultName": "Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LwXwUHJn160fRVfGkOCVMhHbqX3PKo_s"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "108d034d-7706-4d2d-9ef6-b6b2d9ac7c78",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "epzj2pthq38aHyCS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "3bcd2623-f81e-44a9-812c-d8e3739cbfe9",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "epzj2pthq38aHyCS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ---"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "cc7ba9da-44c9-44c9-ab89-e867a98eb25c",
      "name": "Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        64
      ],
      "notes": "POST: https://api.cloud.llamai..."
    },
    {
      "parameters": {},
      "id": "b1a0709a-565a-415f-82f7-643d68548e27",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -224,
        64
      ],
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Upload').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ---"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "ee9c3a62-1e24-40fd-9b8a-3edd8a72c727",
      "name": "Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "04ba40b8-249c-419c-9423-aa971abe93ae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2f46438e-3a1f-4489-96ab-4e029f474b8f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "id": "4e69db0f-cab7-459e-9b70-547fd38efb66",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        224,
        64
      ],
      "notes": "mode: Rules"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Upload').item.json.id }}/result/raw/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ----"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a5fa33a2-3b97-4171-b627-ead79a540956",
      "name": "Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        64
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice",
              "description": "The invoice number or ID",
              "required": true
            },
            {
              "name": "invoiceDate",
              "description": "The date on the invoice",
              "required": true
            },
            {
              "name": "dueDate",
              "description": "The payment due date"
            },
            {
              "name": "vendorName",
              "description": "The name of the vendor or supplier",
              "required": true
            },
            {
              "name": "tax Amount",
              "description": "The tax amount"
            },
            {
              "name": "Total Amount",
              "description": "The total amount due",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert invoice data extractor. Extract all relevant invoice information from the provided text accurately and return it in structured format."
        }
      },
      "id": "603e66a9-5677-43f9-8b3a-93053fd97573",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        784,
        64
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HfESQfMP4w_jVjg1D08IiIUPNFaU02MqisYtFu_6EBk",
          "mode": "list",
          "cachedResultName": "Invoice Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HfESQfMP4w_jVjg1D08IiIUPNFaU02MqisYtFu_6EBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "9a06fb41-2c00-4a14-a0f3-2f3e9c056e3d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1248,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lrzi2S96LY9OX7fW",
          "name": "Google Sheets account"
        }
      },
      "notes": "append: sheet"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $('Google Drive Trigger').item.json.name }}"
        }
      },
      "id": "0b29655c-9248-460e-81a0-6b3ad1a225be",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "epzj2pthq38aHyCS",
          "name": "Google Drive account"
        }
      },
      "notes": "download: file"
    },
    {
      "parameters": {
        "name": "={{ $('Google Drive Trigger').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_PROCESSED_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_PROCESSED_FOLDER_ID"
        },
        "options": {}
      },
      "id": "ef75b545-434b-43fb-9185-7cf5efb90c5f",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1696,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "epzj2pthq38aHyCS",
          "name": "Google Drive account"
        }
      },
      "notes": "upload: file"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2ca89d38-0cd0-4877-a1d4-04101abe155a",
      "name": "Google Drive3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "epzj2pthq38aHyCS",
          "name": "Google Drive account"
        }
      },
      "notes": "deleteFile: file"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        240
      ],
      "id": "de594e4e-77d4-487d-bd2d-b96723658c1d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "nqACCJQr8pTFAIAr",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e2f52dde-efe2-4625-8af1-3e060cf68d93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a48a3928317fe104fd6d388efb5673a7b6660043518d05723fa740398622b608"
  },
  "id": "5KX2q6LWTWc5K6IE",
  "tags": [
    {
      "updatedAt": "2026-05-13T08:03:51.434Z",
      "createdAt": "2026-05-13T08:03:51.434Z",
      "id": "fln0mpGXgOlyyXT2",
      "name": "Invoice Processing"
    }
  ]
}